
    <div class="container">
        <h3>Edit User Profile</h3>
        <hr />
     
        <div class="row">
          <div class="col-md-11">
          
            <h3>[User Profile Form will come here]</h3>
          </div>
        </div>   
     
        <div class="row" style="padding-top: 40px;">
            <div class="col-sm-2">
                <button class="btn btn-primary" style="width:100px">Save</button>
            </div>
    
            <div class="col-sm-2">
                <button class="btn btn-danger" style="width:100px" (click)= "navigateToAllEvents()">Cancel</button>
            </div>
          </div>
        
      </div>